<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="dbServerType" value="MSSQL2016"/>
    <add key="Server" value="YKW"/>
    <add key="dbuser" value="sa"/>
    <add key="dbpass" value="sap"/>
    <add key="LicenseServer" value="YKW"/>
    <add key="CompanyDB" value="PUSRAWI_LIVE"/>
    <add key="UserName" value="manager"/>
    <add key="Password" value="8899"/>
    <add key="emailhost" value="smtp.gmail.com"/>
    <add key="emailport" value="587"/>
    <add key="emailuser" value="wklam128@gmail.com"/>
    <add key="emailpass" value="welcome8#"/>
    <add key="emailfn" value="SAP Integration"/>
    <add key="emailfr" value="wklam128@gmail.com"/>
    <add key="emailto" value="wingkeen@outlook.com"/>
    <add key="emailcc" value=""/>
    <add key="enableSSL" value="true"/>
    <add key="emailErrorOnly" value="true"/>
    <add key="LocalCurrency" value="MYR"/>
    <add key="DataSourceUserID" value="admin"/>
    <add key="DataSourcePassword" value=""/>
    <add key="AutoLogin" value="N"/>
    <add key="AutoPostAfterLogin" value="Y"/>
    <add key="PRPost" value="N"/>
    <add key="POPost" value="Y"/>
    <add key="STRPost" value="Y"/>
  </appSettings>
  <connectionStrings>
    <add name="DataSourceConnectionString" connectionString="Data Source=YKW;Initial Catalog=FT_PurchasingPortal;User ID=sa;Password=sap" providerName="System.Data.SqlClient"/>
    <add name="AuthContext" connectionString="Data Source=YKW;Initial Catalog=PUSRAWI_LIVE;User ID=sa;Password=sap" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
